/* Styles */
.color-orange {
  color: rgb(235, 104, 100);
}

.fa-heart {
  color: rgb(235, 104, 100);
  font-size: larger;
  cursor: pointer;
}

.fa-heart:hover {
  font-weight: 900;
}

#likeNumbers {
  margin-right: 0.5rem;
  font-weight: 500;
}
